body{
    background-color: rgb(247, 247, 247);
}
#container{
    width: 400px;
    margin: auto auto;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 20px;

}
form {
    width:100%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=submit] {
    background-color: #ffab55;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}
input[type=submit]:hover {
    background-color: #e27e29;
}
form h1 {
    margin: 10;
    text-align: center;
}
#login-error-message {
    color: red;
    text-align: center;
    font-size: 12px;
}
#login-error-message-container{
    display: none;
}

